.border{
    margin: 3px;
    border: 2px solid black;
}

.flex{
    display: flex;
}

.justify-centre{
    justify-content: center;
}
.items-centre{
    align-items: center;
}
.invert{
    filter: invert(1);
}
.bg-black{
    background-color: black;
    color:white;

}
.bg-grey{
    background-color: gray;
    color: white;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin: 5px;
}
.p-1{
    padding: 10px;
}